@font-face {
    font-family: "alk";
    src: url(alk_life.otf);
}

@font-face {
    font-family: "bpg";
    src: url(bpg_dejavu_sans.otf);
}


/* ნავიგაციის პანელი */
body {
width: 1440px;
}

.nav-panel {
    display: flex;
    width: 1440px;
    height: 200px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: space-around;
}

.navbar-list {
    display: flex;
    list-style-type: none;

}

.list {
    margin: 20px;
    font-size: 24px;
}

.active {
    color: #A62B28;
}

a {
    color: #717276;
    text-decoration: none;
    font-family: alk;
    font-weight: 400;
}

.photo {

    display: flex;
    margin-top: 160px;
    width: 1440px;
    justify-content: center;
}

.photo1 {
    width: 1180px;
    height: 287px;
}

/* 1 სექცია */
.head {
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-left: 130px;
}

.head-text {
    color: #717276;
    margin: 40px;
    font-size: 32px;
    font-weight: 700;
    font-family: bpg;
}

.section0-1 {
display: flex;
justify-content: space-between;
margin: 130px;
margin-top: 40px;
}

.name {
    color: #717276;
    font-family: bpg;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.title {
    color: black;
    font-family: alk;
    font-size: 24px;
}

.price {
    color: black;
    font-family: bpg;
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
}
.section-image {
    display: flex;
    justify-content: space-between;
    margin: 130px;
    margin-top: 40px;
}